* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 23, 23);
    font-family: Roboto, sans-serif;
}

.navbar {
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding: 10px 0;
}

.navleftcontent {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 3px 7px;
    font-size: 15px;
    font-family: "Varela", sans-serif;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar li a {
    color: gray;
    text-decoration: none;
    padding: 3px 3px;
}

.navbar li a:hover {
    color: white;
}

.search {
    display: flex;
    gap: 12px;
}

.navbar input {
    width: 200px;
}

#search {
    margin: 4px;
    border: none;
    width: 340px;
    background-color: rgb(24, 23, 23);
    border-bottom: 0.3px solid #6c727a;
    padding-right: 38px;
    padding: 0px 38px 9px 0px;
    font-size: 15px;
}

#search:hover {
    color: white;
    border-bottom: 0.3px solid rgb(46, 46, 172);
}

#searchboxcss {
    font-size: 16px;
}

.dropdown {
    width: 100%;
}

.menu {
    width: 17px;
    height: 1.5px;
    background-color: rgb(180, 174, 174);
    margin: 3px 0;
    border-radius: 2px;
}

#signin {
    background-color: rgb(24, 23, 23);
    border: 1px solid white;
    color: white;
    font-size: 16px;
    width: 69px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.buyplan {
    color: white;
    background: linear-gradient(45deg, #2175d9 37%, #2789ff 77%);
    border: none;
    border-radius: 3px;
    width: 81px;
    height: 30px;
    font-size: 16px;
    margin-right: 2px;
    cursor: pointer;
}

.logo img {
    width: 170px;
    display: inline-block;
}

.wcontent h1 {
    color: white;
    font-size: 2.8rem;
    padding-top: 1em;
    font-size: 2.8rem;
}

.wholecontenthero {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row-reverse;
}

#herosec {
    cursor: pointer;
}

#heroimg img {
    width: 100%;
    height: 429px;
}

.wcontent {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wcontent p {
    color: rgb(176, 174, 174);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 2px 7px;
}

.playbutton {
    width: 30px;
    font: 20px Roboto-Regular, sans-serif;
    color: white;
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

#playbuttonheading {
    font-size: 20px;
    left: 7.6em;
    top: 3em;
}

#playbuttonheading {
    margin-top: 21px;
}

#playicon {
    left: 0.8em;
    top: 1.8em;
    font-size: 73px;
}

.circles {
    font-size: 3rem;
    display: flex;
    gap: 1px;
}

.babydot {
    border: 1px solid #838991;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0px 3px;
    cursor: pointer;
}

.dots {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

#dot2 {
    background-color: white;
}

.twob {
    color: #9ba1a9;
    font-family: Roboto, sans-serif;
    background-color: rgb(40, 46, 61);
    width: 133px;
    justify-content: center;
    font-size: 12px;
}

h2 {
    color: white;
    font-family: Roboto, sans-serif;
    height: 34px;
    padding: 0px 14px;
    display: inline-block;
}

.viewall {
    color: #838991;
    font-size: 16px;
    font-weight: 500;
    padding-right: 14px;
    cursor: pointer;
}

.wrapper {
    justify-content: space-between;
    display: flex;
}

.wrapper .viewall :hover {
    color: #ffffff;
}

.theme {
    display: flex;
    margin-top: 20px;
    margin-bottom: 18px;
    border-radius: 10px;

    display: flex;
    gap: 40px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.theme::-webkit-scrollbar {
    display: none;
}

.theme div img {
    height: 130px;
    border-radius: 10px;
}

.box {
    margin: 10px;
    height: 100px;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.box span:hover {
    position: absolute;
    top: 50px;
}

.fa-regularfa-heart {
    color: white;
}

.subject:hover {
    font-size: 50;
}

.subject {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    z-index: 1;
    font-family: "Roboto-Medium", sans-serif;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    white-space: normal;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 11px;
}

.description h5 {
    color: white;
}

.description p {
    color: rgb(143, 139, 139);
    width: 90%;
}

/* SHOWS YOU LOVE */
.series {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 177px;
}

.series .cardimg {
    position: relative;
}

.series img {
    width: 100%;
    display: block;
}

.series .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.series .description:hover {
    opacity: 1;
}

/* NEWLY ADDED SHOW */
.bat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bat .cardimg {
    position: relative;
}

.bat img {

    display: block;
}

.bat .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.bat .description:hover {
    opacity: 1;
}

/* NEWLY ADDED SEASON */
.ball {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ball .cardimg {
    position: relative;
}

.ball img {
    width: 100%;
    display: block;
}

.ball .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.ball .description:hover {
    opacity: 1;
}


.pcontainer2 img {
    width: 300px;
}

/* STREAM FOR FREE */
.shuttle {
    width: 100%;
    display: flex;
    gap: 1em;
}

.shuttle .cardimg {
    position: relative;
}

.shuttle img {
    width: 200px;
    height: 254px;
    display: flex;
}

.shuttle .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.shuttle .description:hover {
    opacity: 1;
}

/* DISCOVERY PLUS */
.cock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cock .cardimg {
    position: relative;
}

.cock img {
    width: 200px;
    height: 254px;
    display: block;
}

.cock .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.cock .description:hover {
    opacity: 1;
}

#adventurehover {
    position: absolute;
    left: 3em;
    bottom: 0;
}

#sciencehover {
    position: absolute;
    left: 4em;
    bottom: 0;
}

#historyhover {
    position: absolute;
    bottom: 0;
    right: 4em;
}

#freewatchhover {
    position: absolute;
    bottom: 0;
    left: 3em;
}

#investigationhover {
    position: absolute;
    bottom: 0;
    right: 3em;
}

#naturehover {
    position: absolute;
    bottom: 0;
    right: 4em;
}

#foodhover {
    position: absolute;
    bottom: 0;
    right: 5em;
}

#autohover {
    position: absolute;
    bottom: 0;
    right: 5em;
}

#lifestylehover {
    position: absolute;
    bottom: 0;
    right: 4em;
}


#showulov {
    margin: 0px auto;
    padding-top: 22px;
}

.pcontainer {
    background-color: #1b1b1b;
}

.pcontainer img {
    height: 177px;
    width: 300px;
    border-radius: 10px;
    padding: 5px;
}

.container {
    flex-wrap: wrap;
}

img {
    border-radius: 10px;
    cursor: pointer;
}

#newshow {
    padding-top: 22px;
}

#forfree {
    padding-top: 22px;
}

#discovery {
    padding-bottom: 23px;
}

.flexitem {
    display: flex;
    gap: 40px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.flexitem::-webkit-scrollbar {
    display: none;
}

#forfree {
    font-weight: 20px;
    padding-top: 22px;
}

.cock {
    padding-top: 10px;
}

footer {/
    background-color: var(--brand-dark);
    background-color: #1b1b1b;
    padding: 15px;
    font-size: 25px;
}

.footercontent {
    color: #838991;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    justify-content: space-evenly;
}

.footerbaby1 {
    display: flex;
    padding: 22px 0px 0px 0px;
}

.fcontent {
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.contactus {
    font-size: 30px;
}

.fcontent h6 {
    padding: 5px;
    font-weight: 400;
    font-size: 15px;
}

.fcontent img {
    border-radius: 10px;
    cursor: pointer;
    width: 21px;
}

#address img {
    width: 19px;

}

.footerasidecontent {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0px 10px 10px 0px;
    padding-top: 6px;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
}

.links a:hover {
    background-color: #ffffff;
    width: 42px;
    height: 42px;
}

.links #youtubeicon :hover {
    color: #FF0000;
}

.links #facebookicon :hover {
    color: #1877F2;
}

#phoneno {
    padding-top: 6px;
}

.threelinks {
    display: flex;
    flex-direction: row;
    gap: 35px;
    color: gray;
    padding: 13px;
    width: 94%;
    margin: 0 auto;
}

.threelinks div {
    padding: 10px 30px 0px 0px;
    font-size: 14px;
}

.verticalline {
    height: 1px;
    width: 1239px;
    color: #1b1b1b;
}

hr {
    color: #1b1b1b;
}

.wrap {
    display: flex;
    gap: 5px;
}

#link h6 {
    padding-left: 0.5em;
}

.youtubefacebook {
    display: flex;
}

#footerlink1 {
    float: right;
}

.googleappstore {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.googleappstore img {
    width: 145px;
    height: 42px;
    margin: 0px 10px 0px 0px;
    transition: all 0.5s ease;
}

.googleappstore h6 {
    padding-left: 10px;
}

.googleappstore img :hover {
    width: 156px;
    height: 43px;
}

.linkbox {
    display: flex;
    flex-direction: row;
}

.linkbox h6 {
    padding-left: 3em;
}

.vertical {
    width: 100%;
    height: 1px;
    border: 1px solid gray;
    background-color: gray;
}

.last {
    width: 94%;
    margin: 0 auto;
}

.footerbaby2 {
    color: gray;
    background-color: #1b1b1b;
}

.footerlink-2 {
    color: gray;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footer-last {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: gray;
    justify-content: space-between;
    padding: 15px;
    background-color: #1b1b1b;
    width: 94%;
    margin: 0 auto;
}

@media (min-width:250px) and (max-width:600px) {

    .navbar {
        flex-direction: row;
        padding: 20px 0 10px 10px;
        justify-content: space-between;

    }

    .wholecontenthero {
        height: 500px;
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-direction: column;
    }

    #herosec {
        cursor: pointer;
        height: 680px;
    }

    .wcontent {
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    #playicon {
        left: 0.8em;
        top: 1.8em;
        font-size: 42px;
    }

    .flexitem {
        display: flex;
        gap: 40px 10px;
    }

    .navleftcontent {
        height: 250px;
    }

    .dropdown {
        width: 100%;
        background-color: white;
        height: 0;
        overflow: hidden;
    }

    #signin {
        display: block;
    }

    #search {
        display: none;
    }
    #serachboxcss {
        position: absolute;
        right: 1em;
        top: 34px;
        display: none;
    }

    .buyplan {
        color: white;
        background: linear-gradient(45deg, #2175d9 37%, #2789ff 77%);
        border: none;
        border-radius: 3px;
        width: 81px;
        margin-left: 9px;
        height: 30px;
        font-size: 16px;
        margin-right: 2px;
        cursor: pointer;
    }

    .wrapper h2 {
        font-size: 20px;
    }

    .wrap {
        font-size: 11px;
    }

    .fcontent img {
        border-radius: 10px;
        cursor: pointer;
        width: 10px;
        height: 14px;
    }

    .wrap i {
        font-size: 10px;
    }

    .footercontent {
        color: #838991;
        display: flex;
        font-weight: 100;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .googleappstore img {
        width: 103px;
        height: 36px;
        margin: 0px 10px 0px 0px;
        transition: all 0.5s ease;
    }

    .threelinks {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: gray;
        padding: 13px;
        width: 94%;
        margin: 0 auto;
    }

    .hrright {
        font-size: 10px;
    }

    .footerlink-2 {
        font-size: 10px;
    }

    .googleappstore h6 {
        padding-left: 0px;
    }

    #playbuttonheading {
        margin-top: 12px;
    }
}

@media (min-width:600px) and (max-width:900px) {
    .wholecontenthero {
        height: 500px;
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #herosec {
        cursor: pointer;
        height: 680px;
    }

    .wcontent {
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .wcontent h1 {
        font-size: 1.8rem;
    }

    #playicon {
        left: 0.8em;
        top: 1.8em;
        font-size: 42px;
    }

    #playbuttonheading {
        margin-top: 11px;
    }

    .flexitem {
        display: flex;
        gap: 40px 10px;
    }

    .nav_links {
        display: none;
    }

   

    .theme div img {
        height: 130px;
        border-radius: 50%;
    }


    .buyplan {
        color: white;
        background: linear-gradient(45deg, #2175d9 37%, #2789ff 77%);
        border: none;
        border-radius: 3px;
        width: 81px;
        margin-left: 9px;
        height: 30px;
        font-size: 16px;
        margin-right: 2px;
        cursor: pointer;
    }

    .wrapper h2 {
        font-size: 20px;
    }

    .wrap {
        font-size: 15px;
        padding: 8px;
    }

    .fcontent img {
        border-radius: 10px;
        cursor: pointer;
        width: 10px;
        height: 14px;
    }

    .wrap i {
        font-size: 10px;
    }

    .footercontent {
        color: #838991;
        display: flex;
        font-weight: 100;
        justify-content: space-evenly;
        flex-direction: column;
    }

    .googleappstore img {
        width: 103px;
        height: 36px;
        margin: 0px 10px 0px 0px;
        transition: all 0.5s ease;
    }

    .threelinks {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: gray;
        padding: 13px;
        width: 94%;
        margin: 0 auto;
    }

    .hrright {
        font-size: 10px;
    }

    .footerlink-2 {
        font-size: 10px;
    }

    .googleappstore h6 {
        padding-left: 0px;
    }

    .search {
        display: flex;
        gap: 12px;
        margin-left: 23px;
    }

    #search {
        width: 200px;
    }
}

@media (min-width:900px) and (max-width:1030px) {
    .wholecontenthero {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-wrap: wrap;
    }

    #herosec {
        cursor: pointer;

    }

    .wcontent {
        font-family: Roboto, sans-serif;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .wcontent h1 {
        font-size: 1.8rem;
    }

    #playicon {
        left: 0.8em;
        top: 1.8em;
        font-size: 42px;
    }


    #playbuttonheading {
        margin-top: 14px;
    }

    .flexitem {
        display: flex;
        gap: 40px 10px;
    }

    .nav_links {
        display: none;
    }


    .theme div img {
        height: 130px;
        border-radius: 50%;
    }


    .buyplan {
        color: white;
        background: linear-gradient(45deg, #2175d9 37%, #2789ff 77%);
        border: none;
        border-radius: 3px;
        width: 81px;
        margin-left: 9px;
        height: 30px;
        font-size: 16px;
        margin-right: 2px;
        cursor: pointer;
    }

    .wrapper h2 {
        font-size: 20px;
    }

    .wrap {
        font-size: 15px;
        padding: 8px;
    }

    .fcontent img {
        border-radius: 10px;
        cursor: pointer;
        width: 10px;
        height: 14px;
    }

    .wrap i {
        font-size: 15px;
    }

    .footercontent {
        color: #838991;
        display: flex;
        font-weight: 100;
        justify-content: space-evenly;
        gap: 12px;
    }

    .googleappstore img {
        width: 140px;
        height: 55px;
        margin: 0px 10px 0px 0px;
        transition: all 0.5s ease;
    }

    .threelinks {
        display: flex;
        gap: 2px;
        color: gray;
        padding: 13px;
        width: 94%;
        margin: 0 auto;
    }

    .threelinks div {
        font-size: 18px;
    }

    .links h6 {
        font-size: 22px;
        font-weight: 400;
    }

    .hrright {
        font-size: 16px;
    }

    .footerlink-2 {
        font-size: 15px;
    }

    .googleappstore h6 {
        padding-left: 0px;
        font-size: 19px;
        font-weight: 400;
    }

    .navleftcontent {
        display: flex;
        padding: 21px;
        gap: 3em;
    }



}