* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 23, 23);
    flex-wrap: wrap;
    font-family: Roboto, sans-serif;
}

.navbar {
    color: white;
}

.navleftcontent {
    display: flex;
    margin-left: 1.5em;
}

.navbar li {
    float: left;
    list-style: none;
    margin: 3px 7px;
    font-size: 15px;
    font-family: "Varela", sans-serif;
}

.navbar ul {
    display: flex;
    gap: 10px;
}

.navbar li a {
    color: gray;
    text-decoration: none;
    padding: 3px 3px;
}

.navbar li a:hover {
    color: white;
}

.search {
    display: flex;
    gap: 12px;
}

.navbar input {
    width: 200px;
}

#search {
    margin: 4px;
    border: none;
    width: 340px;
    background-color: rgb(24, 23, 23);
    border-bottom: 0.3px solid #6c727a;
    padding-right: 38px;
    padding: 0px 38px 9px 0px;
    font-size: 15px;
}

#search:hover {
    color: white;
    border-bottom: 0.3px solid rgb(46, 46, 172);
}

#searchboxcss {

    font-size: 16px;
}

.dropdown {
    width: 15px;
}

.menu {
    width: 17px;
    height: 1.5px;
    background-color: rgb(180, 174, 174);
    margin: 3px 0;
    border-radius: 2px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: gray;
    padding: 10px;
    text-decoration: none;
    display: block;
    background-color: black;
    width: 170px;
}

.dropdown-content {
    display: none;
    min-width: 100px;
    list-style: none;
    margin: 7px;
}

.submenu {
    display: inline-block;
}

.dropdown:hover .dropdown-content {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

.dropdown:hover {
    color: white;
}

#signin {
    background-color: rgb(24, 23, 23);
    border: 1px solid white;
    color: white;
    font-size: 16px;
    width: 69px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.buyplan {
    color: white;
    background: linear-gradient(45deg, #2175d9 37%, #2789ff 77%);
    border: none;
    border-radius: 3px;
    width: 81px;
    height: 30px;
    font-size: 16px;
    margin-right: 2px;
    cursor: pointer;
}

.logo img {
    width: 170px;
    display: inline-block;
}

.wcontent h1 {
    color: white;
    font-size: 2.8rem;
    padding-top: 1em;
    font-size: 2.8rem;
}

.wholecontenthero {
    height: 500px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-direction: row-reverse;
}

#herosec {
    cursor: pointer;
}

#heroimg img {
    width: 763px;
    height: 429px;


}

.wcontent {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.wcontent p {
    color: rgb(176, 174, 174);
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 2px 7px;
}

.playbutton {
    height: 30px;
    width: 30px;
    font: 20px Roboto-Regular, sans-serif;
    color: white;
    display: flex;
    gap: 10px;
    margin-top: 12px;
}

#playbuttonheading {
    font-size: 20px;
    left: 7.6em;
    top: 3em;
}

#playbuttonheading {
    margin-top: 21px;
}

#playicon {
    left: 0.8em;
    top: 1.8em;
    font-size: 73px;
}

.circles {
    font-size: 3rem;
    display: flex;
    text-align: right;
    padding-left: 72px;
    padding-bottom: 0px;
}

.babydot {
    border: 1px solid #838991;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0px 3px;
    cursor: pointer;
}

#dot2 {
    background-color: white;
}

.twob {
    color: #9ba1a9;
    font-family: Roboto, sans-serif;
    background-color: rgb(40, 46, 61);
    width: 133px;
    justify-content: center;
    font-size: 12px;
}

h2 {
    color: white;
    font-family: Roboto, sans-serif;
    height: 34px;
    padding: 0px 14px;
    display: inline-block;
}

.viewall {
    color: #838991;
    font-size: 16px;
    font-weight: 500;
    padding-right: 14px;
    cursor: pointer;
}

.wrapper {
    justify-content: space-between;
    display: flex;
}

.wrapper .viewall :hover {
    color: #ffffff;
}

.theme {
    display: flex;
    margin-top: 20px;
    margin-bottom: 18px;
    border-radius: 10px;
}

.theme div img {
    height: 130px;
    border-radius: 10px;
}

.box {
    margin: 10px;
    height: 100px;
    z-index: 2;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.box span:hover {
    position: absolute;
    top: 50px;
}

.fa-regularfa-heart {
    color: white;
}

.subject:hover {
    font-size: 50;
}

.subject {
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    z-index: 1;
    font-family: "Roboto-Medium", sans-serif;
    cursor: pointer;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    white-space: normal;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding-bottom: 11px;
}

.description h5 {
    color: white;
}

.description p {
    color: rgb(143, 139, 139);
    width: 90%;
}

/* SHOWS YOU LOVE */
.series {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.series .cardimg {
    position: relative;
}

.series img {
    width: 100%;
    display: block;
}

.series .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.series .description:hover {
    opacity: 1;
}

/* NEWLY ADDED SHOW */
.bat {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bat .cardimg {
    position: relative;
}

.bat img {
    width: 100%;
    display: block;
}

.bat .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.bat .description:hover {
    opacity: 1;
}

/* NEWLY ADDED SEASON */
.ball {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ball .cardimg {
    position: relative;
}

.ball img {
    width: 100%;
    display: block;
}

.ball .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.ball .description:hover {
    opacity: 1;
}

/* STREAM FOR FREE */
.shuttle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shuttle .cardimg {
    position: relative;
}

.shuttle img {
    width: 100%;
    display: block;
}

.shuttle .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.shuttle .description:hover {
    opacity: 1;
}

/* DISCOVERY PLUS */
.cock {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cock .cardimg {
    position: relative;
}

.cock img {
    width: 100%;
    display: block;
}

.cock .description {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    opacity: 0;
}

.cock .description:hover {
    opacity: 1;
}

#adventurehover{
    position: absolute;
    left: 4em;
    top: 35em;
}

#sciencehover{
    position: absolute;
    left: 16.5em;
    top: 35em;
}

#historyhover{
    position: absolute;
    left: 29.5em;
    top: 35em;
}

#freewatchhover{
   position: absolute;
   right: 17em;
   top: 35em;
}

#investigationhover {
    position: absolute;
    top: 35em;
    right: 4em;
}

#showulov {
    max-width: 1440px;
    margin: 0px auto;
    padding-top: 22px;
}

.pcontainer {
    background-color: #1b1b1b;
}

.series {
    height: 177px;
    margin: 10px;
}

.pcontainer img {
    height: 177px;
    width: 195px;
    border-radius: 10px;
    padding: 5px;
}

.container {
    flex-wrap: wrap;
}

img {
    border-radius: 10px;
    cursor: pointer;
}

.series img {
    width: 280px;
}

.bat img {
    width: 295px;
}

.ball img {
    width: 295px;
}

#forfree {
    padding-top: 22px;
    padding-bottom: 23px;
}

#discovery {
    padding-top: 22px;
    padding-bottom: 23px;
}

.shuttle img {
    width: 197px;
    height: 254px;
    display: flex;
}

.cock img {
    height: 254px;
    width: 197px;
}

.flexitem {
    display: flex;
    gap: 40px 10px;
}

#forfree {
    font-weight: 20px;
}

.cock {
    padding-top: 10px;
}

footer {
    width: 1263px;
    height: 120px;
    background-color: var(--brand-dark);
    background-color: #1b1b1b;
    z-index: 0;
    padding: 15px;
    padding-left: 24px;
    font-size: 25px;
}

.footercontent {
    height: 28px;
    color: #838991;
    display: flex;
    flex-direction: row;
    font-weight: 100;
    justify-content: space-evenly;
}

.footerbaby1 {
    display: flex;
    padding: 22px 0px 0px 0px;
}

.fcontent {
    height: 28px;
    padding-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.fcontent h6 {
    font-weight: 400;
}

.fcontent img {
    border-radius: 10px;
    cursor: pointer;
    width: 21px;
}

#address img {
    width: 19px;

}

.footerasidecontent {
    display: flex;
    flex-direction: row;
    text-align: left;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(225, 225, 225, 0.2);
    margin: 0px 10px 10px 0px;
    padding-top: 6px;
    border-radius: 6px;
    text-align: center;
    color: #ffffff;
    transition: all 0.5s ease;
}

.links a:hover {
    background-color: #ffffff;
    width: 42px;
    height: 42px;
}

.links #youtubeicon :hover {
    color: #FF0000;
}

.links #facebookicon :hover {
    color: #1877F2;
}

#phoneno {
    padding-top: 6px;
}

.threelinks {
    display: flex;
    flex-direction: row;
    gap: 35px;
    color: gray;
    padding: 13px;
}

.threelinks div {
    padding: 10px 30px 0px 0px;
    font-size: 14px;
}

.verticalline {
    height: 1px;
    width: 1239px;
    color: #1b1b1b;
}

hr {
    color: #1b1b1b;
}

#link h6 {
    padding-left: 0.5em;
}

.youtubefacebook {
    display: flex;
}

#footerlink1 {
    float: right;
}

.googleappstore {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.googleappstore img {
    width: 145px;
    height: 42px;
    margin: 0px 10px 0px 0px;
    transition: all 0.5s ease;
}

.googleappstore h6 {
    padding-left: 10px;
}

.googleappstore img :hover {
    width: 156px;
    height: 43px;
}

.linkbox {
    display: flex;
    flex-direction: row;
}

.linkbox h6 {
    padding-left: 3em;
}

.vertical {
    width: 100%;
    height: 1px;
    border: 1px solid gray;
    background-color: gray;
}

.footerbaby2 {
    color: gray;
    background-color: #1b1b1b;
}

.footerlink-2 {
    color: gray;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.footer-last {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: gray;
    justify-content: space-between;
    padding: 15px;
    background-color: #1b1b1b;
}